{% extends 'base.html.twig' %}

{% block title %}Registration{% endblock %}

{% block body %}
<form>

    <h1 class="h3 mb-3 font-weight-normal">Спасибо за регистрацию!</h1>

<br>
<br>
<a href={{ path('app_login') }}> Вернуться на окно логина</a>
</form>
{% endblock %}
