{% extends 'base.html.twig' %}

{% block title %}Добавление Товара{% endblock %}

{% block body %}

    <h1 class="h3 mb-3 font-weight-normal">Товар Успешно Добавлен</h1>

<a href={{ path('app_cabinet') }}> На Главную </a>
</form>
{% endblock %}
